<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Movie Description</title>
  <!-- Bootstrap References and some css code-->
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  <style type="text/css" media="screen">
    .logo img {
      height: 150px;
    }

    body {
      padding-top: 80px;
      background: black;

    }

    #trailer .modal-dialog {
      margin-top: 200px;
      width: 640px;
      height: 480px;
    }

    .hanging-close {
      position: absolute;
      top: -12px;
      right: -12px;
      z-index: 9001;
    }

    #trailer-video {
      width: 100%;
      height: 100%;
    }

    .movie-tile {
      margin-bottom: 20px;
      padding-top: 20px;


    }

    .movie-tile:hover {
      background-color: red;
      cursor: pointer;

    }

    .scale-media {
      padding-bottom: 56.25%;
      position: relative;
    }

    .scale-media iframe {
      border: none;
      height: 100%;
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      background-color: black;

    }

    h5 {
      color: #fff;
    }

    h1 {
      color: #fff;
    }

    .col-aligncenter {
      float: none;
      margin: 0 auto;
    }
  </style>
  <script type="text/javascript" charset="utf-8">
    // Pause the video when the modal is closed
    $(document).on('click', '.hanging-close, .modal-backdrop, .modal', function (event) {
      // This Removes the src so the player itself gets removed
      $("#trailer-video-container").empty();
    });
    // This is to play the correct youtube video once the modal is opened
    $(document).on('click', '.movie-tile', function (event) {
      var trailerYouTubeId = $(this).attr('data-trailer-youtube-id')
      var sourceUrl = 'http://www.youtube.com/embed/' + trailerYouTubeId + '?autoplay=1&html5=1';
      $("#trailer-video-container").empty().append($("<iframe></iframe>", {
        'id': 'trailer-video',
        'type': 'text-html',
        'src': sourceUrl,
        'frameborder': 0
      }));
    });
    // This is what Animates the movies
    $(document).ready(function () {
      $('.movie-tile').hide().first().show("fast", function showNext() {
        $(this).next("div").show("fast", showNext);
      });
    });
  </script>
</head>

<body>
  <nav>
    <a href="/movieSelection" class="logo">
      <img src="/IMG/notflixLogo.png" />
    </a>
  </nav>
  <!-- The Video Modal for the Notflix videos -->
  <div class="modal" id="trailer">
    <div class="modal-dialog">
      <div class="modal-content">
        <a href="#" class="hanging-close" data-dismiss="modal" aria-hidden="true">
          <img
            src="https://lh5.ggpht.com/v4-628SilF0HtHuHdu5EzxD7WRqOrrTIDi_MhEG6_qkNtUK5Wg7KPkofp_VJoF7RS2LhxwEFCO1ICHZlc-o_=s0#w=24&h=24" />
        </a>
        <div class="scale-media" id="trailer-video-container">
        </div>
      </div>
    </div>
  </div>
  <!-- The main page information -->
  <div class="col-md-6 col-md-offset-3 movie-tile text-center" data-trailer-youtube-id="<%=movie.Links%>"
    data-toggle="modal" data-target="#trailer">
    <img src="/<%=movie.movieImage%>" width="400" height="500">
    <h1><%= movie.MovieName %></h1>
    <h5><b>Director: </b> <%= movie.Director %></h5>
    <h5><b>Genre: </b> <%= movie.Genre %> </h5>
    <h5>Length: </b> <%= movie.LengthInMinutes %> Minutes</h5>
    <h5>Rating: </b> <%= movie.Ratings %> / 10</h5>
    <h5><%= movie.MovieInformation %> </h5>
  </div>
  </div>
</body>

</html>